body {
  margin: 0px;
}

.AfterHoursimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
}
.DawnFMimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 372.8px;
  top: 0px;
}
.MyDearMelancholyimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 745.6px;
  top: 0px;
}
.Starboyimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 1118.4px;
  top: 0px;
}
.BeautyBehindtheMadnessimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 1491.2px;
  top: 0px;
}
.KissLand {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 372.8px;
}
.EchoesofSilenceimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 372.8px;
}
.Thursdayimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 745.6px;
}
.HouseofBalloonsimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 745.6px;
}
.GoodRiddanceimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 1118.4px;
}
.DeathRaceForLoveimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 1118.4px;
}
.LegendsNeverDieimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 1491.2px;
}
.FightingDemonsimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 1491.2px;
}

.nightatheoperaimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 1864px;
}
.Astroworldimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 1864px;
}
.beerbongsimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 2236.8px;
}
.graduationimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 2236.8px;
}
.hollywoodimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 2609.6px;
}
.HybridTheoryimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 2609.6px;
}
.LetGoimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 2982.4px;
}
.MyBeautifulDarkTwistedFantasyimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 2982.4px;
}
.SlipperyWhenWetimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 3355.2px;
}
.Stoneyimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 3355.2px;
}
.Thrillerimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 3728px;
}
.TwelveCaratToothacheimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 3728px;
}
.VitalIdolimg {
  height: 372.8px;
  width: 372.8px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 4100.8px;
}
.top {
  color: #ffffcd;
  background-color: #095572;
  margin: 0px;
  width: 1118.4px;
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 372.8px;
  top: 372.8px;
}
.toptext {
  font-size: 23px;
}

/* Midd div beggining */

.midd {
  background-color: #17234d;
  margin: 0px;
  height: 600px;
  width: 1118.4px;
  display: inline-block;
  position: absolute;
  right: 372.8px;
  top: 895px;
}
.MoonMusicimg {
  position: relative;
  top: 30px;
  height: 372.8px;
  width: 372.8px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.middtext {
  margin-top: 60px;
  font-size: 20px;
}
.middtitle {
  margin: 0px;
  position: relative;
  top: 30px;
  font-size: 60px;
  font-family: "Blank";
  color: #f7d981;
}

/* Fonts */

@font-face {
  font-family: "Blank";
  src: url(../Fonts/BlanksscriptpersonaluseBdit-jEM6O.otf);
}
@font-face {
  font-family: "Rocker";
  src: url(../Fonts/NewRocker-Regular.ttf);
}
@font-face {
  font-family: "Bubble";
  src: url(../Fonts/BubbleHead-6Y1jq.ttf);
}
@font-face {
  font-family: "Graffiti";
  src: url(../Fonts/AttackGraffiti-3zRBM.ttf);
}
@font-face {
  font-family: "Globe";
  src: url(../Fonts/TheGlobePersonalUseBold-2ORlw.ttf);
}
@font-face {
  font-family: "Sunny";
  src: url(../Fonts/SunnySpellsBasicRegular-Yz1Wv.ttf);
}
.poptitle {
  font-family: "Bubble";
  color: #cb053b;
}
.poptext {
  font-family: "Bubble";
  color: #e6b80f;
}
.hip-hoptitle {
  font-family: "Graffiti";
  color: #0a7d42;
}
.hip-hoptext {
  font-family: "Globe";
  color: #9f502b;
  font-size: 20px;
}
.rocktitle {
  padding-left: 10px;
  font-family: "Rocker";
  font-size: 30px;
  color: #9d988f;
}
.rocktext {
  margin-left: 10px;
  font-family: "Rocker";
  font-size: 25px;
  color: #a21d11;
}

/* Beggining of bot div */

.bot {
  margin: 0px;
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 830px;
  top: 1500px;
}
.favartisttitle {
  position: absolute;
  top: -5px;
  left: 457px;
  padding-top: 20px;
  font-family: "Sunny";
  font-size: 3rem;
  margin: 0px;
  color: white;
  background-color: black;
  height: 500px;
  width: 1118.4px;
}

/* Weeknd section */

.weekndsection {
  display: inline-block;
  position: relative;
  top: 100px;
  left: 457px;
  background-color: black;
  width: 1118.4px;
}
.weekndimg {
  height: 372.8px;
  width: 372.8px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.weekndtext {
  font-size: 19px;
  line-height: 2;
  text-align: left;
  color: #d1dee6;
  font-weight: bold;
}
.walbums {
  font-size: 20px;
  background-color: black;
}
.whisalbums {
  color: white;
}
.Trilogyfake {
  color: white;
}
.KissLandfake {
  color: #39be7d;
}
.BeautyBehindtheMadnessfake {
  color: #e9e443;
}
.Starboyfake {
  color: #ce033b;
}
.MyDearMelancholyfake {
  color: #b14119;
}
.AfterHoursfake {
  color: #f80200;
}
.DawnFMfake {
  color: #d1dee6;
}

/* Juice WRLD section */

.juicesection {
  display: inline-block;
  position: relative;
  top: 100px;
  left: 457px;
  background-color: #a45f96;
  width: 1118.4px;
  padding-bottom: 37px;
}
.juiceimg {
  height: 372.8px;
  width: 372.8px;
  border-radius: 50%;
  float: right;
  margin-right: 30px;
  position: relative;
  top: 5px;
}
.juicetext {
  font-size: 22px;
  line-height: 2;
  text-align: left;
  color: #1c2f40;
  font-weight: bold;
}
.juicealbums {
  font-size: 22px;
  background-color: #a45f96;
}
.jhisalbums {
  color: #1c2f40;
  font-weight: bold;
}
.ggrfake {
  color: #efd868;
}
.wodfake {
  color: #fefefe;
}
.drflfake {
  color: #b4321f;
}
.lndfake {
  color: #e69fbd;
}
.fdfake {
  color: #02070b;
}

/* Favourite albums */

.Favalbumssection {
  position: relative;
  top: 80px;
  left: 457px;
  background-color: black;
}
.Favalbumstitle {
  color: white;
  padding-top: 20px;
}

/* After Hours */

.AfterHourspart {
  position: relative;
}
.FavAfterHourstitle {
  color: #f80200;
  font-size: 30px;
}
.MyAfterHoursimg {
  height: 372.8px;
  width: 372.8px;
  position: relative;
  float: left;
  margin-left: 10px;
}
.AfterHourstext {
  position: relative;
  line-height: 2;
  left: 10px;
  color: #f80200;
  text-align: left;
  font-size: 25px;
}

/* DawnFM */

.DawnFMpart {
  padding-top: 5px;
}
.FavDawntitle {
  color: #d1dee6;
  position: relative;
  right: 50px;
  font-size: 30px;
}
.MyDawnFMimg {
  height: 372.8px;
  width: 372.8px;
  float: right;
}
.DawnFMtext {
  color: #d1dee6;
  text-align: left;
  line-height: 2;
  font-size: 25px;
}

/* Legends Never Die */

.LegendsNeverDiepart {
  padding-top: 5px;
}
.FavLegendstitle {
  color: #e69fbd;
  font-size: 30px;
}
.MyLegendsimg {
  height: 372.8px;
  width: 372.8px;
  float: left;
}
.LegendsNeverDietext {
  color: #e69fbd;
  text-align: left;
  line-height: 2;
  font-size: 25px;
}

/* FightingDemons */

.FightingDemonspart {
  padding-top: 5px;
}
.FavFightingtitle {
  position: relative;
  right: 20px;
  color: white;
  font-size: 30px;
}
.MyFightingDemonsimg {
  height: 372.8px;
  width: 372.8px;
  float: right;
}
.FightingDemonstext {
  color: white;
  text-align: left;
  line-height: 2;
  font-size: 25px;
}

/* Kiss Land */

.KissLandpart {
  padding-top: 5px;
}
.FavKisslandtitle {
  color: #39be7d;
  font-size: 30px;
  position: relative;
  right: 50px;
}
.MyKisslandimg {
  height: 372.8px;
  width: 372.8px;
  float: right;
}
.KissLandtext {
  color: #39be7d;
  text-align: left;
  line-height: 2;
  font-size: 25px;
}
